<form method="post" action="/articles/:id">
  Title: <input type='text' name="title">
  Content: <input type='text' name="content">
  <input type='hidden' id='hidden' name="_method" value="PATCH">
  <input type="submit" id="submit">
</form>